{% extends "base.html" %}
{% block js_code %}
  <script type="text/javascript">
  $('#id_clave').focus();
  </script>
{% endblock %}
{% block content %}
	
<div class="ms-custom-form container-fluid" style=" height: 2em; ">
  <div class="row-fluid">
      <div class="span2"><h3>Articulos</h3></div>
    <div class='span9' style=" margin-top: 1em; "> 
      
      <form method="post" class="form-inline" action="" enctype='multipart/form-data'>
        {% csrf_token %}  
        {{ filtro_form.articulo }}
        {{ filtro_form.clave }}{{ filtro_form.nombre }}
        <button class="btn" type="submit"><i class='icon-search'></i> </button>
      </form>   
    </div>
  </div>
</div>
<div class="pagination pagination-mini mainmenu" style=" margin-bottom: 0px; ">
  <ul>
    {% if articulos.has_previous %}
    <li><a href="?page={{ articulos.previous_page_number }}">Anterior</a></li>
    {% else %}
    <li class="disabled"><a href="#">Anterior</a></li>
    {% endif %}
    <li class="disabled"><a href="#">Pagina {{ articulos.number }} de {{ articulos.paginator.num_pages }}.</a></li>
    {% if articulos.has_next %}
    <li><a href="?page={{ articulos.next_page_number }}">Siguiente</a></li>
    {% else %}
    <li class="disabled"><a href="#">Siguiente</a></li>
    {% endif %} 
  </ul>
</div>
  <ul class="inline">
  	{% for articulo in articulos %}
    <li>
      <div class="row">
        <div class= 'span'>
          {% if articulo.imagen %}
            <img src='{{MEDIA_URL}}{{articulo.imagen}}' style="height: 75px; width: 50px; margin-top:.5em; margin-right:.5em; margin-bottom:.5em;"  class="align-left img-rounded"/>
          {% else %}
            <img src='{{MEDIA_URL}}/articulos/no-image.png' style="height: 75px; width: 50px; margin-top:.5em; margin-right:.5em; margin-bottom:.5em;"  class="align-left img-rounded"/>
          {% endif %}
        </div>
        <div class= 'span2'>
          <strong>{{ articulo.clave }}</strong> <br>
          {{ articulo.nombre }} <br><br>
          <div class="pull-right"><label class="text-info">$ {{ articulo.precio }}</label></div>
        </div>
      </div>      
    </li>
  	{% endfor %}
  </ul>
{% endblock %}